<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h2>Login using Face-Book</h2>
<!-- <a th:href="/@{/oauth2/authorization/facebook}">Login with Facebook</a> -->
<!-- 
<fb:login-button   scope="public_profile,email"  onlogin="checkLoginState();"></fb:login-button> -->

 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '291240189673006',
      cookie     : true,
      xfbml      : true,
      version    : 'v12.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  }
   
</script>
 
 <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0&appId=291240189673006&autoLogAppEvents=1" nonce="pmYusSLz"></script>

<div class="fb-login-button" data-width="100" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true">
</div>
</body>
</html>